[Unit]
Description="Qrystal on-device DNS server"
Documentation="https://nyiyui.ca/qrystal"

[Service]
ExecStart=qrystal-device-dns --config=/etc/qrystal-device/dns-config.json --rpc-systemd=true
Type=notify
NotifyAccess=all
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
RestrictNamespaces=yes
PrivateMounts=yes
