name: nixfmt
on:
  push:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v20
      - run: "nix develop --command nixfmt */*.nix"
      - name: commit and push
        run: |
          if git diff --exit-code; then
            echo 'no changes!'
          else
            git config user.name 'GitHub Actions'
            git config user.email 'github-actions@nyiyui.ca'
            git add .
            git commit -am "nixfmt"
            git push
          fi
